<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>
</head>
<body>

<h2>Cellpadding</h2>
<p>Cell padding specifies the space between the cell content and its borders.</p>

<table style="width:100%">
  <tr>
    <th>Cidade</th>
    <th>Evento</th> 
    <th>Hora</th>
  </tr>


  <tr th:each="event: ${events}">
    <td th:text="${event.city.name}" />
    <td th:text="${event.tick}" />
    <td th:text="${event.status}" />
  </tr>



</table>

<p><strong>Tip:</strong> Try to change the padding to 5px.</p>

</body>
</html>
